/.idea
/.web-server-pid
/app/config/parameters.yml
/app/config/parameters_permanent.yml
/app/config/services_dev.yml
/app/config/services_test.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/bower_components/
/node_modules/
/vendor/
/web/assets/
/web/bundles/
docker-compose.yml