.wishlist {
    position: relative;
    max-width: 35rem;
    margin: 3rem auto;

    &__title {
        margin-bottom: .25rem;
        text-align: left;
        text-indent: .45rem;
        font-variant: small-caps;
        text-transform: lowercase;
        letter-spacing: .125rem;
        font-weight: 500;
    }

    &__title-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__pagination {
        position: relative;
        top: -.125rem;
        font-size: .65rem;
        color: #777;
    }

    &__muted {
        font-size: .75rem;
        color: #777;
    }

    &__name {
        min-width: 5rem;
    }

    &__wish {
        &.is-unpublished {
            color: #bbb;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #eee;
        }

        &:hover {
            background: rgba(69,183,235, .1);
            border-bottom-color: rgba(69,183,235, .15);
        }
    }

    &__publish-button {
        padding: 0 .25rem;
        font-size: .75rem;
        font-family: inherit;
        color: #333;
        border: 0;
        border-radius: 2px;
        background: #ffd121;
        cursor: pointer;
        outline: none;
    }

    &__wish--unpublished &__publish-button {
        color: #fff;
        background: #00a5f2;
    }

    td {
        padding: .125rem .5rem;
    }
}