.wishlist {
    position: relative;
    max-width: 35rem;
    margin: 3rem auto;

    &__muted {
        font-size: .75rem;
        color: #777;
    }

    &__name {
        min-width: 5rem;
    }

    &__wish {
        &.is-unpublished {
            color: #bbb;
        }
    }

    &__publish-button {
        padding: 0 .25rem;
        font-size: .75rem;
        font-family: inherit;
        color: #333;
        border: 0;
        border-radius: 2px;
        background: #ffd121;
        cursor: pointer;
        outline: none;
    }

    &__wish--unpublished &__publish-button {
        color: #fff;
        background: #00a5f2;
    }
}