{% extends '::base.html.twig' %}

{% block body %}
    <div id="wishlist"
         class="wishlist js-wishlist">
        <div>
            <notifications />
        </div>
        <router-view />
    </div>
{% endblock %}