<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} • Wishlist</title>
        <link rel="stylesheet" href="{{ asset('assets/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="layout">
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('assets/app.js') }}"></script>
    </body>
</html>
