parameters:
    database_host: 127.0.0.1
    database_port: 4500
    database_name: symfony_wishlist
    database_user: postgres
    database_password: userpass
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    secret: ThisHasToBeChangedToSomethingSecure
