* {
    margin: 0;
    padding: 0;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
}

html {
    font-size: 20px;
}

body {
    font: 1rem / 1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

table {
    border-collapse: collapse;
}